// fonts
$header-font: 'Passion One', cursive;
$normal-font: 'Open Sans', sans-serif;

// color
$brand-color: #F57C00;
$brand-color-darker: #974C00;
$brand-color-dark: #C16100;
$brand-color-light: #FF9B35;
$brand-color-lighter: #FFB060;

$c-yellow: #F5AC00;
$c-yellow-lighter: #FFCF60;
$c-yellow-light: #FFC325;
$c-yellow-dark: #C18700;
$c-yellow-darker: #976A00;

$c-blue: #1431A7;
$c-blue-lighter: #566BFF;
$c-blue-light: #354EB1;
$c-blue-dark: #0E2583;
$c-blue-darker: #091B67;

$c-teal: #057898;
$c-teal-lighter: #479CB4;
$c-teal-light: #2687A3;
$c-teal-dark: #045E78;
$c-teal-darker: #024A5E;

$c-grey-050: #FAFAFA;
$c-grey-100: #F5F5F5;
$c-grey-200: #EEE;
$c-grey-300: #E0E0E0;
$c-grey-400: #BDBDBD;
$c-grey-500: #9E9E9E;
$c-grey-600: #757575;
$c-grey-700: #616161;
$c-grey-800: #424242;
$c-grey-900: #212121;

$responsive-phone: 640px;
$responsive-tablet: 960px;
$responsive-desktop: 1200px;
$responsive-xdesktop: 1600px;

$f-smaller: 0.7rem;
$f-small: 0.85rem;
$f-medium: 1rem;
$f-large: 1.4rem;
$f-larger: 1.8rem;
$f-xlarge: 2rem;
$f-xxlarge: 2.8rem;

$f-light: 400;
$f-bold: 800;

$margins: (
  normal: 20px,
  tiny: 5px,
  small: 10px,
  medium: 40px,
  large: 70px,
  larger: 140px
);

$paddings: (
  normal: 20px,
  tiny: 5px,
  small: 10px,
  medium: 40px,
  large: 70px,
  larger: 140px
);

@mixin aspect-ratio ($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
  }
}

@mixin transition ($prop, $msec) {
  transition: $prop $msec ease-in;
}
