@import 'variables';

#index-category {
  .index-loop {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    .post-item {
      .feature {
        .play-button {
          top: 0;
          left: 0;
          background-color: rgba(0,0,0,0.25);
          span {
            color: #FFF;
            @include transition(color, 250ms);

            &:hover {
              color: $brand-color;
            }
          }
        }
      }
      .body {
        h3 {
          line-height: 1.3rem;
        }
        flex-grow: 1;
        color: #0d0d0d;
      }
    }

    .post-item:hover {
      .body h3 {
        color: $brand-color;
      }
    }
  }
}
