@import 'variables';

#main-nav-menu {
  background-color: #0d0d0d;
}

#default-navigation-menu {
  #main-logo {
    width: 256px;
    fill: #030303;
  }
  .navigation-container {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
}

#simple-navigation {
  border-top: 3px solid #FB8C00;
  .cookie-dialog {
    background-color: $brand-color;

    @media (max-width: $responsive-phone) {
      flex-direction: column;
    }

    .message {
      color: #FFF;
      @media (max-width: $responsive-phone) {
        text-align: center;
      }
    }
    .agree {
      @media (max-width: $responsive-phone) {
        justify-content: center;
      }
      button {
        color: $brand-color;
        background-color: #FFF;
        border: 1px solid #FFF;

        &:hover {
          color: #FFF;
          background-color: $brand-color;
        }
      }
    }
  }
}
