#content {
  flex-grow: 1;

  #simple-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateY(-5em);
    transition: transform 200ms ease-in-out;
    z-index: 100;
  }

}

#home-page {
  .container {
    background-color: #FFF;
    flex-grow: 1;

    #header-blog {

      .header-post {
        background-color: pink;
        height: inherit;
        height: 20em;
      }

    }

    .post-loop {
      h3 {
        line-height: 1em;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #home-page {
    .container {
      .headline {
        .headline__space {
          .headline__container {
            padding: 0;
          }
        }
      }
    }
  }
}
