@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

// Overrides

.uk-navbar-nav > li > a {
  height: 40px;
}

// General Styles
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  color: #222;
}

p, li, a {
  font-family: 'Open Sans', sans-serif !important;
  transition: color 1s;
}

a:hover {
  color: #F57C00 !important;
  text-decoration: none;
}

p::selection {
  background-color: #F57C00;
}


.cover-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mg-white-background {
  background-color: #fff;
}

// reference
// http://alexgoff.net/web-type/
.post-content {
  line-height: 1.5em;
  margin: 1.5rem 0;

  p {
    color: #444;
    letter-spacing: 0.01rem;
  }
}

html {
  height: 100%;
  width: 100%;
  background-color: #dadada;

  body {
    height: inherit;
    width: inherit;


    display: block;

    #skeleton {
      height: inherit;
      width: inherit;

      display: flex;
      flex-direction: column;

      #main-header {

      }

      #content {
        flex-grow: 1;
      }

      #main-footer {

      }
    }

  }
}
