@import url('https://fonts.googleapis.com/css?family=Open+Sans|Passion+One');
@import 'variables';

@import './globals/post_content.scss';

// Overrides

.uk-navbar-nav > li > a {
  height: 40px;
}

// General Styles
h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
  color: #222;
  letter-spacing: 0.1em;
}

p, li, a {
  font-family: $normal-font, Arial, Helvetica, sans-serif !important;
  transition: color 1s;
  font-size: $f-medium;

  @media (max-width: $responsive-phone) {
    font-size: $f-s-medium;
  }
}

a:hover {
  color: $brand-color !important;
  text-decoration: none;
}

p::selection {
  background-color: $brand-color;
}


.cover-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mg-white-background {
  background-color: #fff;
}

#simple-navigation {
  border-top: 3px solid #FB8C00;
}

.f {
  &-smaller {
    font-size: $f-smaller;
  }

  &-small {
    font-size: $f-small;
  }

  &-medium {
    font-size: $f-medium;
  }

  &-large {
    font-size: $f-large;
  }

  &-larger {
    font-size: $f-larger;
  }

  &-xlarge {
    font-size: $f-xlarge;
  }

  &-xxlarge {
    font-size: $f-xxlarge;
  }

  &-bold {
    font-weight: $f-bold;
  }

  &-light {
    font-weight: $f-light;
  }

  &-italic {
    font-style: italic;
  }
}

html {
  min-width: 100%;
  min-height: 100%;
  background-color: #dadada;

  body {
    min-width: inherit;
    min-height: inherit;

    display: block;

    #skeleton {
      min-width: inherit;
      min-height: inherit;

      display: flex;
      flex-direction: column;

      #main-header {

      }

      #content {
        flex-grow: 1;
      }

      #main-footer {

      }
    }

  }
}

@media screen and (max-width: 960px) {
  #main-header, #content {
    .uk-container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
