@import 'variables';

.uk-text-meta {
  padding-left: 0;

  li:first-child {
    margin-right: 0.5em;
  }
  li:last-child {
    font-style: italic;
  }

  li {
    display: inline-block;
  }
}

#singles-standard {
  header {
    h1 {
      font-size: 3em;
      font-weight: 900;
    }
    .uk-text-lead {
      font-style: italic;
    }
  }
  #post-list {
    .title {
      background-color: #F57C00;
      color: #F9F9F9;
    }
  }
}

#singles-medium {
  header {
    h1 {
      line-height: 1.1em;
    }
  }
  .uk-text-lead {
    font-style: italic;
  }
}

#singles-standard, #singles-medium, #singles-video {
  .meta {
    ul {
      padding-left: 0;
      li {
        display: inline-block;
        list-style-type: none;
        text-transform: uppercase;
        a {
          padding: 0.5em;
          color: $brand-color;
        }
        a:hover {
          color: #FFF !important;
          background-color: $brand-color;
        }
      }
    }
  }
}

#singles-video {
  header {
    .breadcrumb {
      li:not(:last-child):after {
        content: '\25B6';
        padding: 0 5px;
      }
    }
  }
  .video-container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 640px) {
  #singles-medium {
    header > h1 {
      font-size: 2rem;
    }
    .uk-text-lead {
      font-size: 1.5rem;
    }
  }
}
