@import 'variables';

.uk-text-meta {
  padding-left: 0;

  li:first-child {
    margin-right: 0.5em;
  }
  li:last-child {
    font-style: italic;
  }

  li {
    display: inline-block;
  }
}

#singles-standard {
  header {
    h1 {
      font-weight: $f-bold;
    }
    .uk-text-lead {
      font-style: italic;
    }
  }
  #post-list {
    .title {
      background-color: #F57C00;
      color: #F9F9F9;
    }
  }
}

#singles-medium {
  .mobile-title {
    background-color: rgba(0,0,0,0.25);
    h1, h2 {
      color: #fff;
    }
  }
  header {
    h1 {
      line-height: 1.1em;
    }
  }
  .uk-text-lead {
    font-style: italic;
  }
  .feature-image {
    &::after {
      content: '';
      background-color: #FFF;
      bottom: 0;
      clip-path: polygon(35% 91%, 85% 74%, 100% 92%, 100% 100%, 57% 100%, 0 100%, 0 70%);
      height: 10rem;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}

#singles-standard,
#singles-medium,
#singles-video,
#singles-stories,
#single-podcast {
  .other-titles {
    opacity: 0.3;
  }
  .meta {
    ul {
      padding-left: 0;
      li {
        display: inline-block;
        list-style-type: none;
        text-transform: uppercase;
        a {
          padding: 0.5em;
          color: $brand-color;
        }
        a:hover {
          color: #FFF !important;
          background-color: $brand-color;
        }
      }
    }
  }
  .breadcrumb {
    li:not(:last-child):after {
      content: '\25B6';
      padding: 0 5px;
    }
  }

  .feature-image {
    overflow: hidden;
    .single-loop-video {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      video {
        min-width: 100%;
        min-height: 100%;

        object-fit: cover;
        position: absolute;
      }
    }
  }

}

#singles-video, #single-podcast {
  .video-container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

#singles-stories {
  .background-feature {
    @include aspect-ratio(18,9);
    background-color: $brand-color;
    clip-path: polygon(30% 0%, 95% 0, 100% 10%, 100% 70%, 100% 100%, 5% 100%, 0 90%, 0 0);

    @media (max-width: $responsive-phone) {
      clip-path: polygon(65% 0, 100% 15%, 99% 100%, 30% 100%, 0 85%, 0 0);
      height: 70vh;
    }

    .content {
      top: 0;
      left: 0;

      background-color: rgba(34, 34, 34, 0.4);

      h1 {
        color: #fff;
      }
    }
  }

  .story-meta-bar {
    background-color: $c-grey-200;
    padding: 7.5px;
    .total-post {
      font-size: 2.5rem;
      padding: 0 7.5px;
    }
  }

  .sidebar {
    padding: map-get($paddings, normal);

    @media (max-width: $responsive-phone) {
      padding: 0;
    }
  }

  .post {
    .story {
      display: -ms-grid;
      display: grid;

      -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;

      @media (max-width: $responsive-phone) {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
      }

      color: $c-grey-900;
      .feature-image {
        .icon-image {
          top: 0;
          left: 0;
          span {
            color: #FFF;

            &:hover {
              color: $brand-color;
            }
          }

          transition: background-color 250ms ease-in, color 250ms ease-in;
          &:hover {
            background-color: rgba(34, 34, 34, 0.4);
          }
        }
      }
      .content {
        margin-left: map-get($margins, normal);
        h2 {
          transition: color 250ms ease-in;
        }

        &:hover {
          h2 {
            color: $brand-color;
          }
          color: $c-grey-800;
        }

        @media (max-width: $responsive-phone) {
          margin: 0;
        }
      }
    }
  }

  .other-stories {
    .other-story {
      .title {
        top: 0;
        left: 0;
        h2 {
          background-color: #fff;
          font-size: 1.5rem;
          line-height: 1.5rem;
          transition: background-color 250ms ease-in-out;
          width: 80%;
        }
      }
      &:hover {
        .title {
          h2 {
            background-color: $brand-color;
            color: #FFF;
          }
        }
      }
    }
  }
}

#single-podcast {
  .body {
    background-color: $c-grey-050;
    .content {
      .album-art-container {
        filter: blur(2px);
        z-index: 5;
      }
      .album-art {
        top: 0;
        left: 0;
        z-index: 10;
        div {
          width: 320px;
          height: 320px;
          img {
            border: 2px solid #fff;
          }
        }
      }

      .body {
        margin: map-get($paddings, normal );

        audio {
          width: 70%;
        }
      }
    }
    .aside {
      padding: map-get($paddings, small);

      .download-button {
        background-color: $brand-color;
        color: $c-grey-050;

        @include transition (background-color, 250ms);

        &:hover {
          background-color: transparent;
          color: $brand-color;
        }
      }

      .tags {
        background-color: $c-grey-800;
        h3 {
          color: $c-grey-050;
        }
        ul {
          li > a {
            color: $c-grey-500;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #singles-medium {
    header > h1 {
      font-size: 2rem;
    }
    .uk-text-lead {
      font-size: 1.5rem;
    }
  }
}
