// reference
// http://alexgoff.net/web-type/

// General Styles
h1,h2,h3,h4,h5,h6 {
  font-family: $header-font, Arial, Helvetica, sans-serif;
  color: #222;
  letter-spacing: 0.1em;
}

$divider: 1.5;

.post-content {
  line-height: 1.5em;
  margin: 1.5rem 0;

  h1, .h1 {
    font-size: calc(4.22rem / $divider);
    line-height: calc(5.167rem / $divider);
    margin-top: calc(1.72rem / $divider);
    margin-bottom: calc(3.44rem / $divider);
  }

  h2, .h2 {
    font-size: calc(2.61rem / $divider);
    line-height: calc(3.44rem / $divider);
    margin-top: calc(1.72rem / $divider);
    margin-bottom: calc(1.72rem / $divider);
  }

  h3, .h3 {
    font-size: calc(1.61rem / $divider);
    line-height: calc(1.72rem / $divider);
    margin-top: calc(1.72rem / $divider);
    margin-bottom: 0rem;
  }

  h4, .h4 {
    font-size: calc(1rem / $divider);
    line-height: calc(1.72rem / $divider);
    margin-top: calc(1.72rem / $divider);
    margin-bottom: 0rem;
  }

  h5, .h5 {
    font-size: calc(1rem / $divider);
    line-height: calc(1.72rem / $divider);
    margin-top: calc(1.72rem / $divider);
    margin-bottom: 0rem;
  }

  p, ul, ol, pre, table, blockquote {
    font-family: $normal-font !important;
    transition: color 1s;
  }

  ul ul, ol ol, ul ol, ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  /* Let's make sure all's aligned */
  hr, .hr {
    margin: -1px 0;
  }
  a, b, i, strong, em, small, code {
    line-height: 0;
  }
  sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }

  p {
    color: #444;
    letter-spacing: 0.01rem;
    line-height: 1.8rem;
  }
  p.uk-dropcap:first-letter {
    font-family: 'Passion One', cursive;
    font-size: 6rem;
    line-height: 5rem;
  }

  blockquote {
    position: relative;
    p {
      display: block;
      font-family: $header-font !important;
      font-size: 2rem;
      font-style: initial;
      font-weight: 400;
      position: relative;
      z-index: 1;
    }
    p:before {
      background-image: url('../../images/quote-mark.svg');
      background-position: left top;
      background-repeat: no-repeat;
      content: '';
      font-size: 10em;
      height: 70px;
      opacity: 0.5;
      position: absolute;
      transform: translate(-25px, -25px);
      width: 70px;
      z-index: -1;
    }
  }

  .aligncenter {
    display: block;
    margin: auto;
    width: 95%;
  }
}

@media screen and (max-width: 640px) {
  .post-content {
    p {
      font-size: 1rem;
    }
  }
}
