<div
  id='call-to-action-sticky'
  class='
    uk-width-4-6@l
    uk-width-5-6@m
    uk-width-1-1@s
    uk-margin-top'
>
  <div
    class='
      uk-flex
      uk-flex-center
      uk-flex-column'
    uk-sticky='
      top: #call-to-action-sticky;
      media: 640;
      offset: 80;'>
    <!-- About Widget   -->
      <div
        class='
          uk-card
          uk-background-muted
          uk-width-1-1'
      >
        <div class='uk-card-body'>
          <div class='uk-flex uk-flex-center' style='height: 150px;'>
            <img
              class='uk-border-circle' src='https://pbs.twimg.com/profile_images/520732099/NewAvatar_400x400.png'
              height='150px'
              width='150px'
            />
          </div>

          <p class='uk-text-center'>My Name</p>
          <p class='uk-text-center'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>

        <div class='uk-card-footer'>
          <div uk-margin class='uk-flex uk-flex-center'>
            <a
              href="#"
              class='
                uk-icon-button
                uk-margin-right'
              uk-icon='icon: twitter'>
            </a>
            <a
              href="#"
              class='uk-icon-button'
              uk-icon='icon: mail'>
            </a>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Twitter Feed  -->
<div
  class='
    uk-margin-top
    uk-width-4-6@l
    uk-width-5-6@m
    uk-width-1-1@s'>
      <ul uk-tab uk-switcher>
        <li class='uk-active'>
          <a href='#'>@solidad</a>
        </li>
        <li class='uk-active'>
          <a href='#'>@meganelife</a>
        </li>
      </ul>

      <ul class='uk-switcher'>
        <li class='uk-display-block'>
          <div>
            <a
              class="twitter-timeline"
              href="https://twitter.com/search?q=from%3Asolidad%20-to%3Asolidad%20-%40solidad" data-widget-id="914526805419323392"
              data-chrome='no-header'
            >
              Tweets about from:solidad -to:solidad -@solidad
            </a>
            <script>
              !function(d,s,id) {
                var js,
                    fjs=d.getElementsByTagName(s)[0],
                    p=/^http:/.test(d.location)?'http':'https';
                if(!d.getElementById(id)) {
                  js=d.createElement(s);
                  js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);
                }
              }(document,"script","twitter-wjs");
            </script>
          </div>
        </li>

        <li>
          <div>
            <a
              class="twitter-timeline"
              href="https://twitter.com/search?q=from%3Asolidad%20-to%3Asolidad%20-%40solidad" data-widget-id="914526805419323392">
                Tweets about from:solidad -to:solidad -@solidad
            </a>
            <script>
              !function(d,s,id) {
                var js,
                    fjs=d.getElementsByTagName(s)[0],
                    p=/^http:/.test(d.location)?'http':'https';
                if(!d.getElementById(id)) {
                  js=d.createElement(s);
                  js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);
                }
              }(document,"script","twitter-wjs");
            </script>
          </div>
        </li>
      </ul>
</div>
