<div class='uk-container cookie-dialog uk-flex uk-flex-between' id='cookie-dialog'>
  <div class='
    uk-flex
    uk-flex-middle
    uk-padding-remove-horizontal
    uk-padding-small
    message
  '>
    <p class='uk-margin-remove uk-text-bold'>
      Megane Life Uses Cookies to Provide You with The Benefits of the Modern Web
    </p>
  </div>
  <div class='
    uk-flex 
    uk-flex-middle
    uk-padding-remove-horizontal 
    uk-padding-small
    agree
  '>
    <button class='uk-button uk-text-bold'>Accept</button>
  </div>
</div>