<div class='
  headline
  uk-background-cover
  uk-flex
  uk-flex-wrap
  uk-height-large
  uk-hidden@m
'
style='background-image:url("{{headline.thumbnail.src('medium')}}")'>
  <div class='
    uk-width-1-2
    uk-visible@l
    headline__space
    headline__space--empty'></div>
  <div class='
    uk-width-1-2
    uk-visible@l
    headline__space
    headline__space--title'>
    <div class='
      uk-padding-small
      uk-text-uppercase
      headline__container--desktop'>
      <div class='
        uk-overlay
        uk-overlay-primary
        headline__container__container'>
        <h2 class='
          uk-text-uppercase
          headline_title'>
          {{headline.title}}
        </h2>
      </div>
    </div>
  </div>
  <div class='
    uk-flex
    uk-flex-bottom
    uk-width-1-1
    headline__space
  '>
    <div class='
      uk-padding-small
      uk-width-1-1
      headline__container
    '>
      <div class='
        uk-overlay
        uk-overlay-primary
        headline__container__container'>
        <h2 class='
          uk-text-uppercase
          headline__title
          uk-hidden@l'>
          {{headline.title}}
        </h2>
        <p class='headline__excerpt'>
          {{function('get_the_excerpt', headline.ID)}}
        </p>
      </div>
    </div>
  </div>
</div>
