<div
  id='simple-navigation'
  class='
    uk-child-width-1-1
    uk-background-default
    uk-grid-collapse'
  uk-grid
  {{sticky}}>
  <div class='uk-visible@m uk-display-block'>

    <div class='uk-container'>
      {% include 'parts/navigation.twig' %}
    </div>
    {% include 'parts/cookie-dialog.twig' %}

  </div>

  <div class='uk-hidden@m'>
    {% include 'parts/navigation.twig'  %}
    {% include 'parts/cookie-dialog.twig' %}
  </div>
</div>
