<div class='uk-navbar-container' uk-navbar id='main-nav-menu'>

  <div class='uk-navbar-left'>
    <a class="uk-navbar-item uk-logo"
      href="{{site.url}}"
      style='{{hide_nav_banner ? 'display: none' }}'>
      <img src='{{theme.link}}/images/logo.svg' width='150px' />
    </a>
    {{ function('wp_nav_menu', nav_menu_header_args) }}
  </div>

  <div class='uk-navbar-right'>
    <div class='uk-navbar-item'>
      <form class='uk-visible@m'>
        <div class='uk-flex'>
        <input
          class='uk-input uk-form-width-small uk-width-1-1'
          type='text'
          placeholder='input'
        />
        <button class='uk-button uk-button-small'  uk-icon='icon: search'></button>
        </div>
      </form>
      <ul class='uk-navbar-nav'>
        <li class='uk-hidden@m'>
          <a href='#mobile-main-menu' uk-toggle  uk-icon='icon: menu; ratio: 2'></a>
        </li>
      </ul>
    </div>
  </div>

</div>
