<div class='uk-child-width-1-1 uk-background-default uk-grid-collapse' uk-grid uk-sticky>
  <div class='uk-visible@m'>

    <div class='uk-container'>
      {% include 'parts/navigation.twig'  %}
    </div>

  </div>

  <div class='uk-hidden@m'>
    {% include 'parts/navigation.twig'  %}
  </div>
</div>
