<div
  style="background-image: url('{{post.thumbnail.src('full')}}')"
  class='
    background-feature
    uk-background-cover
    uk-position-relative'>
  <div class='
    content
    uk-hidden@m
    uk-height-1-1
    uk-width-1-1
    uk-flex
    uk-flex-center
    uk-flex-middle'>
    <div>
      <h1 class='uk-margin-remove uk-text-center'>{{post.title}}</h1>
    </div>
  </div>
</div>