// color
$brand-color: #F57C00;
$brand-color-darker: #974C00;
$brand-color-dark: #C16100;
$brand-color-light: #FF9B35;
$brand-color-lighter: #FFB060;

$c-yellow: #F5AC00;
$c-yellow-lighter: #FFCF60;
$c-yellow-light: #FFC325;
$c-yellow-dark: #C18700;
$c-yellow-darker: #976A00;

$c-blue: #1431A7;
$c-blue-lighter: #566BFF;
$c-blue-light: #354EB1;
$c-blue-dark: #0E2583;
$c-blue-darker: #091B67;

$c-teal: #057898;
$c-teal-lighter: #479CB4;
$c-teal-light: #2687A3;
$c-teal-dark: #045E78;
$c-teal-darker: #024A5E;

$c-grey-050: #FAFAFA;
$c-grey-100: #F5F5F5;
$c-grey-200: #EEE;
$c-grey-300: #E0E0E0;
$c-grey-400: #BDBDBD;
$c-grey-500: #9E9E9E;
$c-grey-600: #757575;
$c-grey-700: #616161;
$c-grey-800: #424242;
$c-grey-900: #212121;
