<div class='uk-child-width-1-1' uk-grid id='default-navigation-menu'>

  <div>
    <div class='uk-container uk-container-large'>
      <!-- Logo Area  -->
      <div class='
        mg-white-background
        uk-height-small
        uk-flex
        uk-flex-middle'>

        <div class='uk-flex uk-flex-center uk-width-1-1'>

          <a href='{{site.url}}' style='display: block;'>
            <img src='{{theme.link}}/images/logo.svg' width='252px' />
          </a>

        </div>

      </div>

        <!-- Navigation  -->
        {% include 'parts/navigation.twig' %}

    </div>
  </div>


</div>
