{% extends 'base.twig' %}

{% block content %}
  <div class='uk-container uk-container-large'>
    <div class='container'>

      <div class='uk-grid'>
        <div class='uk-width-1-1'>

          <div class="uk-grid-collapse" id='header-blog' uk-grid>

            {% for i in 1..3  %}
            <div class='uk-width-1-3@m uk-width-1-1@s'>
              <div class='header-post'>
                Header post {{i}}
              </div>
            </div>
            {% endfor  %}

          </div>

        </div>

        <div class='uk-width-1-1 uk-margin-top'>

          <div class='uk-margin-left uk-margin-right'>
            <div class='uk-child-width-1-3@m uk-child-width-1-1@s' uk-grid>

              {% for i in 1..3 %}
              <div>
                <div class='uk-card uk-card-small uk-card-default'>
                  <div class="uk-card-badge uk-label">Badge</div>
                  <div class='uk-media-top uk-width-1-1'>
                    <img src='http://loremflickr.com/320/320' class='uk-width-1-1' />
                  </div>
                  <div class='uk-card-body'>
                    <h3 class='uk-card-title'>Title Card</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  </div>
                  <div class='uk-card-footer'>
                    <a href='#' class='uk-button uk-button-text'>READ MORE</a>
                  </div>
                </div>
              </div>
              {% endfor  %}

            </div>
          </div>

        </div>

        <div class='uk-width-1-1 uk-margin-top uk-margin-bottom'>

          <div class='uk-margin-left uk-margin-right'>
            <div class='uk-grid'>
              <div class='uk-width-3-5@m uk-width-1-1@s'>
                <h2 class='uk-heading-line'><span>Latest Posts</span></h2>

                {% for i in 1..10 %}
                <div class='uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin' uk-grid>
                  <div class='uk-card-media-left uk-cover-container cover-container'
                    style='background-image:url("http://loremflickr.com/320/320");'>
                    <img class='uk-hidden-notouch'  src='http://loremflickr.com/320/320'/>
                  </div>
                  <div>
                    <div class="uk-card-badge uk-label">Badge</div>
                    <div class='uk-card-body'>
                      <h3 class='uk-card-title'>Title Card</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class='uk-card-footer'>
                      <a href='#' class='uk-button uk-button-text'>READ MORE</a>
                    </div>
                  </div>
                </div>
                {% endfor %}

              </div>

              <div class='uk-width-2-5@m uk-width-1-1@s'>

                <div id='call-to-action-sticky' class='uk-width-4-6@m uk-width-5-6@m uk-width-1-1@s uk-margin-top'>
                  <div class='uk-flex uk-flex-center uk-flex-column'  uk-sticky='top: #call-to-action-sticky; media: 640'>
                    <!-- About Widget   -->
                    <div class='uk-card uk-background-muted uk-width-1-1'>
                      <div class='uk-card-body'>
                        <div class='uk-flex uk-flex-center' style='height: 150px;'>
                          <img
                          class='uk-border-circle' src='https://pbs.twimg.com/profile_images/520732099/NewAvatar_400x400.png' height='150px' width='150px'  />
                        </div>
                        <p class='uk-text-center'>My Name</p>
                        <p class='uk-text-center'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      </div>
                      <div class='uk-card-footer'>
                        <div uk-margin class='uk-flex uk-flex-center'>
                          <a href="#" class='uk-icon-button uk-margin-right' uk-icon='icon: twitter'></a>
                          <a href="#" class='uk-icon-button' uk-icon='icon: mail'></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                    <!-- Twitter Feed  -->
                    <div class='uk-margin-top uk-width-4-6@l uk-width-5-6@m uk-width-1-1@s'>
                      <ul uk-tab uk-switcher>
                        <li class='uk-active'>
                          <a href='#'>@solidad</a>
                        </li>
                        <li class='uk-active'>
                          <a href='#'>@meganelife</a>
                        </li>
                      </ul>
                      <ul class='uk-switcher'>
                        <li>
                          <div>
                            <a
                            class="twitter-timeline"  href="https://twitter.com/search?q=from%3Asolidad%20-to%3Asolidad%20-%40solidad" data-widget-id="914526805419323392"
                            data-chrome='no-header'
                            >Tweets about from:solidad -to:solidad -@solidad</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                          </div>
                        </li>
                        <li>
                          <div>
                            <a class="twitter-timeline"  href="https://twitter.com/search?q=from%3Asolidad%20-to%3Asolidad%20-%40solidad" data-widget-id="914526805419323392">Tweets about from:solidad -to:solidad -@solidad</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                          </div>
                        </li>
                      </ul>
                    </div>




              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
{% endblock content %}
