{% extends 'base.twig' %}

{% block mainHeader %}
  {% include 'parts/navigation-simple.twig' %}
{% endblock mainHeader %}

{% block content %}
  <div class='uk-child-width-1-1' uk-grid id='singles-standard'>
    <div>
      <div class='uk-container uk-container-large'>
        <div class='mg-white-background '>

          <article class='uk-grid-collapse uk-padding-small' uk-grid>
            <header class='uk-width-1-1'>
              <h4 class='uk-margin-remove'>Category</h4>
              <h1 class='uk-primary-header uk-text-bold uk-margin-remove'>This is Length Article Title</h1>
              <p class='uk-margin-remove uk-text-lead'>This is a the excerpt of an article</p>
            </header>

            <section class='uk-width-2-3@m uk-width-1-1@s uk-margin-top'>

              <div class='uk-child-width-1-1' uk-grid>

                <!-- thumbnail  -->
                <div>
                  <img src='http://loremflickr.com/1280/720' class='uk-width-1-1' />
                  <p class='uk-text-meta'>Small thumbnial description below</p>
                  <hr class="uk-divider-icon">
                </div>

                <!-- content  -->
                <div class='post-content'>
                  <p>Bacon ipsum dolor amet cupim filet mignon tail, shank short loin pancetta fatback bresaola drumstick porchetta. Shank brisket bresaola short loin ground round turducken capicola doner cow. Short loin tail doner, brisket boudin shank filet mignon strip steak turkey. Ribeye kevin kielbasa sirloin sausage venison. Kevin hamburger andouille frankfurter bresaola chicken pork loin t-bone tail jowl prosciutto meatball pancetta filet mignon kielbasa.</p>

                  <p>Ground round pancetta fatback meatloaf pastrami shankle burgdoggen biltong. Spare ribs andouille tri-tip brisket tail. Leberkas ham chicken biltong beef sausage drumstick bresaola burgdoggen hamburger andouille. Corned beef short ribs ribeye cow spare ribs flank kielbasa tail t-bone. Jerky kielbasa burgdoggen, alcatra short ribs beef ribs cupim.</p>

                  <p>Ball tip pork belly short ribs capicola, kielbasa ground round cupim. Filet mignon brisket ham pastrami beef ground round meatball meatloaf. Capicola chuck venison alcatra sirloin pork belly ball tip andouille shankle pastrami short ribs, chicken pork loin leberkas. Bresaola andouille short ribs kielbasa, doner pork loin boudin pancetta filet mignon t-bone meatball cow. Kielbasa cupim sirloin, porchetta chuck drumstick short ribs shoulder leberkas doner pig pork chop capicola.</p>

                  <p>Porchetta kevin pork chop meatloaf doner sausage drumstick. Chuck short loin shank chicken bresaola flank filet mignon. Salami doner cupim cow filet mignon shank spare ribs leberkas bacon venison bresaola tri-tip swine landjaeger meatball. Pork chop venison short ribs prosciutto turducken picanha tail turkey porchetta t-bone ball tip kielbasa shoulder. Beef landjaeger tri-tip kevin frankfurter ham hock burgdoggen venison. Pork loin spare ribs short loin turkey, ball tip cow porchetta pork chop shoulder kielbasa jowl ham hock tail tongue turducken. Capicola ribeye prosciutto, shoulder salami cupim ball tip short loin alcatra.</p>

                  <p>Sausage capicola doner rump jowl. Hamburger capicola andouille sirloin tongue alcatra. Corned beef brisket t-bone, sausage beef ribeye doner cow tenderloin bacon chuck ball tip. Meatball beef ribs strip steak turkey hamburger chicken. Shoulder sausage landjaeger pork belly tongue.</p>

                  <p>Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
                </div>
              </div>


            </section>

            <aside class='uk-width-1-3@m uk-width-1-1@s uk-margin-top uk-padding-small uk-padding-remove-vertical'>

              <div class='
                uk-grid-collapse
                uk-child-width-1-1'
                uk-sticky
                uk-grid
                id='post-list'>
                <div>
                  <div class='uk-padding-small title'>
                    <p class='uk-text-bold uk-text-uppercase uk-margin-remove'>
                      you might be interested in this
                    </p>
                  </div>
                <div>
                <div>
                  <div class='uk-background-muted uk-padding-small content'>
                    <ul class='uk-list uk-list-divider'>
                      {% for i in 1..10 %}
                      <li>
                        <a
                          href='#'
                          class='uk-link uk-link-muted'>
                          Post name {{i}}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>

            </aside>
          </article>

        </div>
      </div>
    </div>
  </div>
{% endblock content  %}
