{% extends 'base.twig' %}

{% block mainHeader %}
  {% include 'parts/navigation-simple.twig'  %}
{% endblock mainHeader %}

{% block content %}
<div class='uk-child-width-1-1 uk-grid-collapse' uk-grid>
  <!-- Cover Photos  -->
  <div>

    <div class='uk-cover-container' uk-height-viewport='offset: true;'>
      <img
        src='{{ post.thumbnail.src('full') }}'
        uk-cover
      />
      <div class='uk-overlay uk-overlay-primary uk-position-cover'>

        <div class='uk-flex uk-flex-middle uk-height-1-1' uk-grid>
          <div class='uk-width-1-1 uk-flex uk-flex-center'>
            <div>
              <h1 class='
                uk-heading-primary
                uk-text-uppercase
                uk-text-center
                uk-text-bold'>
                {{ post.title }}
              </h1>
              <div class='uk-text-center'>
                {% include 'parts/post-meta.twig'  %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- Content -->
  <div>
    <div class='uk-container'>
      <div class='uk-background-default uk-padding-small'>
        <div class='post-content'>
          {{ post.content  }}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
